@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zoom-in:before {
  content: "\61";
}
.icon-shopping-cart:before {
  content: "\66";
}
.icon-heart:before {
  content: "\6a";
}
.icon-angle-left:before {
  content: "\6b";
}
.icon-angle-right:before {
  content: "\6c";
}
.icon-angle-up:before {
  content: "\62";
}
.icon-angle-down:before {
  content: "\63";
}
.icon-close:before {
  content: "\64";
}
.icon-align-justify:before {
  content: "\65";
}
.icon-menu:before {
  content: "\67";
}
.icon-arrow-down:before {
  content: "\68";
}
.icon-arrow-left:before {
  content: "\69";
}
.icon-arrow-right:before {
  content: "\6d";
}
.icon-arrow-up:before {
  content: "\6e";
}
.icon-control-play:before {
  content: "\6f";
}
.icon-check:before {
  content: "\70";
}
.icon-ios-arrow-thin-right:before {
  content: "\71";
}
.icon-ios-arrow-thin-left:before {
  content: "\72";
}